<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script type="module" src="src/page-chat.js"></script>
</head>

<body class="background3"></body>
<!-- elements du chat -->
<div id="app">
    <div id="list-container">
        <div class="button disconect"><a href="javascript:void(0)" id="sign-out-btn" @click="signout">Déconnexion</a></div>
        <!--container pour les message envoiyer et recu -->
        <div class="message-box">
            <div class="user-message" :class="[InMess.name == 'Pascal' ? 'user-message' : 'received-message']" v-for="InMess in messages">
                <div class="item-cell">{{ InMess.name }}: {{ InMess.mess }}</div>
            </div>
        </div>
        <div><textarea class="text-box" cols="30" rows="10" v-on:keyup.enter="sendMessage($event)" ref="el"></textarea></div>
        <!--pour afficher les gens en-ligne-->
        <div class="online-members" v-for="member in members">
            <div class="item-cell">online: {{ members }}</div>
        </div>
    </div>
    </body>

</html>